body
  font-size responsive 16px 22px
  font-range 420px 1280px
  font-family 'Roboto'

*
  box-sizing border-box
  padding 0
  margin 0

.header
  width 100%
  height 100px
  text-align center
  &__title
    line-height 100px
